body {
  text-align: center;
  font-family: sans-serif;
  background: #f9f1e7;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

#cookie-button img {
  transition: transform 0.1s;
}

#cookie-button:active img {
  transform: scale(0.95);
}
